/**
* @copyright SPDX-License-Identifier: CC0-1.0
* @copyright SPDX-FileCopyrightText: NONE
* @see https://docs.gtk.org/gtk4/css-overview.html
* @see https://docs.gtk.org/gtk4/css-properties.html
*/

@define-color ed_notebook_bg_color @theme_base_color;
@define-color ed_notebook_fg_color @theme_text_color;
@define-color ed_borders @borders;
@define-color ed_drop_target_color forestgreen;

#ed-uid-mainwin box > separator {
	background: @borders;
}

#ed-uid-mainwin popover.menu modelbutton {
	min-height: 24px;
}

#ed-uid-mainwin .large-icons {
	-gtk-icon-size: 24px;
}

#ed-uid-mainwin scrolledwindow > overshoot,
#ed-uid-mainwin scrolledwindow > undershoot,
#ed-uid-mainwin scrolledwindow {
	/*box-shadow: none;*/
}

#ed-uid-mainwin entry:not(.monospace),
#ed-uid-mainwin entry > window.popup,
#ed-uid-mainwin combobox > popover,
#ed-uid-mainwin listview,
#ed-uid-mainwin treeview {
	font-size: small;
}

#ed-uid-mainwin popover.entry-completion > contents {
	padding: 0;
}

#ed-uid-sidebar treeview.cell:hover {
	border: 1px dotted @theme_selected_bg_color;
}

#ed-uid-sidebar overlay > spinner {
	min-height: 32px;
	min-width: 32px;
}

#ed-uid-sidebar .ed-class-sidebarheader {
	padding: 6px;
	border-bottom: 1px solid @borders;
}

#ed-uid-sidebarswitcher {
	padding: 6px 4px 4px 4px;
	border-spacing: 6px;
}

#ed-uid-sidebarswitcher:dir(ltr) {
	border-right: 1px solid @borders;
}

#ed-uid-sidebarswitcher:dir(rtl) {
	border-left: 1px solid @borders;
}

#ed-uid-bottompane > stacksidebar list:dir(ltr) {
	border-left: 1px solid @borders;
	border-right: none;
}

#ed-uid-bottompane > stacksidebar list:dir(rtl) {
	border-left: none;
	border-right: 1px solid @borders;
}

window.aboutdialog image.icon-dropshadow {
	-gtk-icon-shadow: 0 0 6px alpha(black, .3);
}

window.ed-class-error menubutton.ed-class-mainmenu > button {
	background: #FF1F00;
}

window.ed-class-error > menubar {
	background: #FF1F00;
}

paned > separator {
	margin: 0;
	padding: 0;
}

.ed-class-statusbar {
	min-height: 32px;
	padding: 0 9px;
	color: @insensitive_fg_color;
	font-size: x-small;
}

.ed-class-sourcestatusbar:dir(ltr) {
	padding: 1px 9px 0 6px;
}

.ed-class-sourcestatusbar:dir(rtl) {
	padding: 1px 6px 0 9px;
}

.ed-class-infobar {
	padding: 9px 12px 9px 12px;
	border-bottom: 1px solid @borders;
}

.ed-class-infobar.info {
	color: @theme_fg_color;
	background: mix(@theme_bg_color, #00BFFF, .1875);
}

.ed-class-infobar.question,
.ed-class-infobar.warning {
	color: @theme_fg_color;
	background: mix(@theme_bg_color, #FFBF00, .1875);
}

.ed-class-infobar.error {
	color: @theme_fg_color;
	background: mix(@theme_bg_color, #FF0000, .1875);
}

.app-notification .ed-class-infobar {
	text-shadow: none;
	border: none;
	border-radius: 12px;
}

.ed-class-mono {
	font-family: monospace;
	font-size: x-small;
}

.ed-class-sourcecode {
	/*font-size: 9pt;*/
}

textview.GtkSourceMap {
	font-size: 2px;
	line-height: 2px;
}

textview.GtkSourceMap:dir(ltr) {
	border-left: 1px solid mix(@ed_notebook_bg_color, @ed_notebook_fg_color, .1);
}

textview.GtkSourceMap:dir(rtl) {
	border-right: 1px solid mix(@ed_notebook_bg_color, @ed_notebook_fg_color, .1);
}

GtkSourceAssistant.completion list row cell {
	font-family: monospace;
}

GtkSourceAssistant.completion list row cell.before,
GtkSourceAssistant.completion list row cell.after {
	font-size: small;
	color: alpha(currentColor, .625);
}

GtkSourceHoverDisplay .ed-class-hoveritem {
	font-family: monospace;
	padding: 0 12px;
	min-height: 24px;
	border-spacing: 12px;
}

GtkSourceHoverDisplay .ed-class-hoveritem:hover {
	background: alpha(currentColor, .0625);
}

GtkSourceHoverDisplay .ed-class-hoveritem  > label:last-child {
	font-size: small;
	color: alpha(currentColor, .625);
}

.ed-class-outlinebar {
	min-width: 17px;
	color: @ed_notebook_fg_color;
	background: mix(@ed_notebook_bg_color, @ed_notebook_fg_color, .035);
}

.ed-class-outlinebarslider {
	min-height: 12px;
	color: alpha(currentColor, .1875);
}

.ed-class-outlinebar:hover > .ed-class-outlinebarslider {
	color: alpha(currentColor, .25);
}

.ed-class-picturedoc {
	margin: 6px;
}

.ed-class-compact button {
	font-weight: normal;
	padding: 3px;
	min-height: 16px;
	min-width: 16px;
	border-radius: 6px;
}

stacksidebar.ed-class-compact {
	padding-top: 0;
	padding-bottom: 0;
}

stacksidebar.ed-class-compact row {
	min-height: 24px;
}

button.ed-class-stop {
	color: @error_color;
}

label.ed-class-breadcrumb {
	color: mix(currentColor, @theme_bg_color, .5);
}

box.ed-class-richlist > box {
	padding: 6px 12px;
	border-spacing: 12px;
	border-radius: 9px;
}

box.ed-class-richlist > box:hover {
	background: alpha(currentColor, .0625);
}

box.ed-class-richlist > box scale {
	padding: 6px;
}

box.ed-class-richlist > box button {
	padding: 5px;
}

grid.ed-class-splitview {
	background: @borders;
	border-spacing: 1px;
}

grid.ed-class-splitview > box {
	background: @theme_bg_color;
}

.ed-class-notebookcontent {
	background: @ed_notebook_bg_color;
}

.ed-class-notebook:dir(ltr):drop(active) textview.ed-class-sourcecode gutter {
	box-shadow: inset 1px 0 0 0 @ed_drop_target_color;
}

.ed-class-notebook:dir(rtl):drop(active) textview.ed-class-sourcecode text {
	box-shadow: inset -1px 0 0 0 @ed_drop_target_color;
}

.ed-class-notebookheader {
	box-shadow: inset 0 -1px 0 0 @ed_borders;
}

.ed-class-notebookheader > scrolledwindow > undershoot.left {
	padding-bottom: 1px;
	background: linear-gradient(to right, @theme_bg_color 3px, alpha(@theme_bg_color, 0) 18px);
	background-clip: content-box;
}

.ed-class-notebookheader > scrolledwindow > undershoot.right {
	padding-bottom: 1px;
	background: linear-gradient(to left, @theme_bg_color 3px, alpha(@theme_bg_color, 0) 18px);
	background-clip: content-box;
}

.ed-class-notebooktab {
	min-width: 40px;
	padding: 0 12px 0 12px;
	color: alpha(currentColor, .5);
}

.ed-class-notebooktab:focus {
	outline-color: currentColor;
	outline-offset: -6px;
	outline-width: 1px;
	outline-style: dotted;
}

.ed-class-notebooktab:not(.ed-class-notebookactivetab):hover {
	box-shadow: inset 0 3px 0 0 currentColor;
}

.ed-class-notebookactivetab {
	color: @ed_notebook_fg_color;
	background: @ed_notebook_bg_color;
	box-shadow: inset 1px 0 0 0 @ed_borders, inset -1px 0 0 0 @ed_borders, inset 0 3px 0 0 alpha(currentColor, .5);
}

.ed-class-activenotebook .ed-class-notebookactivetab {
	box-shadow: inset 1px 0 0 0 @ed_borders, inset -1px 0 0 0 @ed_borders, inset 0 3px 0 0 @theme_selected_bg_color;
}
