/**
* @copyright SPDX-License-Identifier: CC0-1.0
* @copyright SPDX-FileCopyrightText: NONE
*/

@define-color ed_drop_target_color @accent_bg_color;
@define-color ed_borders mix(@theme_bg_color, @theme_fg_color, 0.15);

#ed-uid-mainwin > headerbar.titlebar {
	color: inherit;
	background: none;
	border: none;
	box-shadow: none;
}

#ed-uid-mainwin > menubar {
	box-shadow: none;
}

#ed-uid-mainwin.csd > overlay {
	border-top: 1px solid @borders;
}

#ed-uid-mainwin treeview.view:disabled {
	color: alpha(currentColor, .5);
}

#ed-uid-mainwin combobox > popover > contents,
#ed-uid-mainwin entry > popover > contents {
	border: 1px solid mix(@popover_bg_color, @popover_fg_color, .2);
}

#ed-uid-sidebarswitcher {
	color: @sidebar_fg_color;
	background: @sidebar_bg_color;
}

#ed-uid-sidebar {
	color: @secondary_sidebar_fg_color;
	background: @secondary_sidebar_bg_color;
}

#ed-uid-sidebar treeview {
	color: inherit;
	background: none;
}

#ed-uid-sidebar treeview:selected {
	background: alpha(@accent_bg_color, .25);
}

#ed-uid-sidebar .ed-class-statusbar {
	border-top: 1px solid @borders;
}

GtkSourceAssistant,
GtkSourceHoverDisplay .contents {
	background: @popover_bg_color;
	color: @popover_fg_color;
}
